html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;

}

.active {
    color: var(--main-color) !important;
    position: relative;
}

.active::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--main-color);
    left: 20px;
    bottom: 20%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.active:hover::before {
    position: absolute;
    width: 55%;
}

.nav-logo h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}

.nav-logo h2 span {
    color: var(--main-color);
    font-weight: 100;
}

.btn-shape {
    padding: 6px 20px;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
}