.social .container .social-content {
    display: flex;
    gap: 100px;
    padding: 20px 0px;
}

.social .container .social-content .social-text {
    width: calc(100% - 60%);
}

.social .container .social-content .social-text h3 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.social .container .social-content .social-text p {
    line-height: 20px;
    color: rgba(0, 0, 0, 0.429);
}

.social .container .social-content .social-icons {
    width: 60%;
}

.social .container .social-content .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .container .social-content .social-icons span {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.429);
}