.sublist .container .sublist-content {
    display: flex;
    gap: 50px;
    padding-bottom: 80px;
    padding-top: 100px;
}

.sublist .container .sublist-content .sublist-image {
    width: 50%;
}

.sublist .container .sublist-content .sublist-image img {
    width: 80%;
    box-shadow: 2px 2px 20px #bbb1b1;
    
}

.sublist .container .sublist-content .sublist-text {
    width: 50%;
}

.sublist .container .sublist-content .sublist-text h2 {
    position: relative;
    margin-bottom: 40px;
}

.sublist .container .sublist-content .sublist-text h2::first-letter {
    text-transform: capitalize;
}

.sublist .container .sublist-content .sublist-text h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 60px;
    height: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: var(--main-color);
}

.sublist .container .sublist-content .sublist-text p {
    color: var(--paragraph-second-color);
}

.sublist .container .sublist-content .sublist-text>p {
    margin-bottom: 30px;
}

.sublist .container .sublist-content .sublist-text .sublist-icons {
    display: flex;
    margin-bottom: 20px;
    gap: 30px;
}

.sublist .container .sublist-content .sublist-text .sublist-icons span {
    width: 100px;
}

.sublist .sublist-text .sublist-icons>div {
    width: calc(100% - 100px);
}

.sublist .container .sublist-content .sublist-text .sublist-icons span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.sublist .container .sublist-content .sublist-text .sublist-icons h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.sublist .container .sublist-content .sublist-text .sublist-icons p {
    font-size: 14px;
}